<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>rate</title>
    <style>
    	pre {
    		display: inline-block;
    		margin: 0;
    		padding: 12px 50px 0 0;
    		tab-size: 2;
    		background-color: #2c3e50;
    		color: #ecf0f1;
    	}
    </style>
</head>
<body>
	<p>一般用法：</p>
	<pre>
		&lt;d-rate texts="['极差', '一般', '较好', '好', '极好']" show-text="true" onchange="onChange"&gt;&lt;/d-rate&gt;
	</pre>
    <d-rate texts="['极差', '一般', '较好', '好', '极好']" show-text="true" onchange="onChange"></d-rate>
    
    <p>有默认值：</p>
    <pre>
    	&lt;d-rate texts="['极差', '一般', '较好', '好', '极好']" value="2" show-text="true" onchange="onChange"&gt;&lt;/d-rate&gt;
    </pre>
    <d-rate texts="['极差', '一般', '较好', '好', '极好']" value="2" show-text="true" onchange="onChange"></d-rate>
    
    <p>返回参数：<span class="js-callback"></span></p>
    
    <p>只读：</p>
    <pre>
		&lt;d-rate disabled="true" value="3" show-text="false"&gt;&lt;/d-rate&gt;
	</pre>
    <d-rate disabled="true" value="3" show-text="false"></d-rate>
    
    <p>颜色：</p>
    <pre>
    	&lt;d-rate disabled="true" value="2" show-text="true" textStr="一般" color="#e74c3c"&gt;&lt;/d-rate&gt;
    </pre>
    <d-rate disabled="true" value="2" show-text="true" textStr="一般" color="#e74c3c"></d-rate>
    
<script src="./index.js"></script>
<script>
	function onChange (e) {
		document.querySelector('.js-callback').textContent = JSON.stringify(e);
	}
</script>
</body>
</html>